@use './mixins';
@use './variables';

*{
    box-sizing: border-box;
}

li, ul ,ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 ,p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Livvic',sans-serif;
    background-color:#014E56;
}

main{
    flex-grow: 1;
}

.contact-link{
    @include mixins.df($align:center);
    justify-content: center;
    border-radius: 24px;
    font-family: 'Livvic',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    width: 153px;
    height: 48px;
}

.line{
    width: 50px;
    height: 4px;
}